.project-card {
  position: relative;
  width: calc(
    50% - 13.3px
  ); /* Fluid 3 columns ($gutter * ($number_of_cols - 1) / $number_of_cols; following https://stackoverflow.com/a/51290967) */
}
@media screen and (max-width: 1600px) {
  .project-card {
    width: calc(
      100% - 10px
    ); /* Fluid 2 columns ($gutter * ($number_of_cols - 1) / $number_of_cols; following https://stackoverflow.com/a/51290967) */
  }
}
@media screen and (max-width: 768px) {
  .project-card {
    width: 100%; /* 1 column */
  }
}

.card-simple .article-title,
.media.stream-item .article-title {
  font-size: 0.9rem;
}

.card .card-image {
  display: block;
  position: relative;
  min-height: 100px;
  width: 100%;
  max-width: 100%;
}

.media.stream-item img {
    max-width: none;
    height: auto;
    object-fit: cover;
}